

  <ion-view view-title="Help" class="appBg"  >

    <ion-content class="padding appBg">
      <div class="col text-center">
        <img src="img/epaticon.svg" style="width:70px; height: 70px; padding-top:20px; padding-left: 8px;">
        <label class="text-style">E-PAT</label>
      </div>
      <div class="col text-center">
        <h3>E-PAT Help Desk</h3>
      </div>
<h5>        Account Setting Information:</h5>
      <div class="col text-center" style="background-color: whitesmoke">
        <h5>  User can manage his user account.Useer can edit any personal information on his EPAT profile.First name ,last name can also be modified and updated when the user wants.</h5>
      </div>
      </div>
      <div>  <button class="button ion-chevron-left button-block button-balanced" ng-click="goback()" style="background-color:transparent; border-radius:30px;">Back</button></div>
    </ion-content>


</ion-view>
