<ion-view view-title="Current Bill" class="appBg">
  <ion-nav-bar class="bar-positive navbarColor">
    <ion-nav-back-button class="bar-positive navbarColor"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="col text-center" >
    <ion-list>
      <ion-item ng-repeat="i in bill.curr">
        {{i.name}}, {{i.val}}
      </ion-item>
    </ion-list>
    </div>
  </ion-content>
</ion-view>

<!--<ion-view>-->
  <!--<ion-content>-->
    <!--<ion-tabs class="tabs-positive tabs-icon-top tabs-color-light">-->

      <!--<ion-tab title="Current Bill" class="tabs-positive tabs-icon-top tabs-color-light" icon="ion-ios-paper" >-->
        <!--<ul class="list">-->
          <!--<li class="item" ng-repeat="i in bill.curr">-->
            <!--{{i.name}} {{i.val}}-->
          <!--</li>-->
        <!--</ul>-->
      <!--</ion-tab>-->

      <!--<ion-tab title="Projected Bill" class="tabs-positive tabs-icon-top tabs-color-light"  icon="ion-ios-paper-outline">-->
        <!--<ul class="list">-->
          <!--<li class="item" ng-repeat="i in bill.past">-->
            <!--{{i.month}} {{i.units}} {{i.bill}} {{i.payment}}-->
          <!--</li>-->
        <!--</ul>-->
      <!--</ion-tab>-->

      <!--<ion-tab title="Past Bill" class="tabs-positive tabs-icon-top tabs-color-light"  icon="ion-ios-paper-outline">-->
        <!--<ul class="list">-->
          <!--<li class="item" ng-repeat="i in projected">-->
            <!--{{i.name}} {{i.val}}-->
          <!--</li>-->
        <!--</ul>-->
      <!--</ion-tab>-->

    <!--</ion-tabs>-->
  <!--</ion-content>-->
<!--</ion-view>-->


