<ion-view view-title="Bills"  class="" hide-nav-bar="false" >
  <ion-nav-bar class="bar-positive navbarColor">
    <ion-nav-back-button class="bar-positive navbarColor"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>






    <ion-tabs class="tabs-positive tabs-icon-top tabs-color-light">

      <ion-tab title="Current Bill" class="tabs-positive tabs-icon-top tabs-color-light" icon="ion-ios-paper" >

<div ng-bind-html="bill"   class="col text-center"></div>

            <!--<div ng-bind-html="bill"> </div>-->
                </ion-tab>

      <ion-tab title="Projected Bill" class="tabs-positive tabs-icon-top tabs-color-light"  icon="ion-ios-paper-outline">
        <div ng-bind-html="projectedBill" ></div>
      </ion-tab>
    </ion-tabs>

  <ion-content class="padding appBg">
    <div class="col text-center">
      <img src="img/ionic.png" style="width:70px; height: 70px; padding-top:20px; padding-left: 8px;">
      <label class="text-style">E-PAT</label>
    </div>

</ion-content>
</ion-view>
