<ion-view view-title="Help" class="appBg"  >

  <ion-content class="padding appBg">
    <div class="col text-center">
      <img src="img/epaticon.svg" style="width:70px; height: 70px; padding-top:20px; padding-left: 8px;">
      <label class="text-style">E-PAT</label>
    </div>
    <div class="col text-center">
      <h3>E-PAT Help Desk</h3>
    </div>
        <h5>Bill Scripts Information:</h5>
    <div class="col text-center" style="background-color: whitesmoke">
  <h5>      Electricity Bills will be shown to the user if they want to see.Bills will be shown on the basis of the account id they have provided.
        With the help of this accoount id bills will be extracted from the Wapda site.User can see the estimated projected bills by clicking the option provided. </h5>
      </div>
      </div>
      <div>  <button class="button ion-chevron-left button-block button-balanced" ng-click="goback()" style="background-color:transparent; border-radius:30px;">Back</button></div>
    </ion-content>



</ion-view>
