<ion-view view-title="Estimated Bill" class="appBg">
  <ion-nav-bar class="bar-positive navbarColor">
    <ion-nav-back-button class="bar-positive navbarColor"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="col text-center" >
    <ion-list>
      <ion-item ng-repeat="i in projected">
        {{i.name}}, {{i.val}}
      </ion-item>
    </ion-list>
      </div>
  </ion-content>
</ion-view>
