<ion-view view-title="Past Bills" class="appBg">
  <ion-nav-bar class="bar-positive navbarColor">
    <ion-nav-back-button class="bar-positive navbarColor"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
<h5 style="color: #ffffff" align="center">Month-Units-Bill-Payment</h5>
    <div class="col text-center" >
    <ion-list>
      <ion-item ng-repeat="i in bill.past">
        {{i.month}} {{i.units}} {{i.bill}} {{i.payment}}
      </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
