<ion-view view-title="Power Usage" class="" hide-nav-bar="false" ng-init="hide()">
  <ion-nav-bar class="bar-positive navbarColor">
    <ion-nav-back-button class="bar-positive navbarColor"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding appBg">
    <div class="tabs-positive tabs-icon-top tabs-color-light">
      <div class="tabs">

        <a class="tab-item" ng-click="switchGraph('hourly')" >  <i class="icon ion-clock"></i>Hourly</a>
        <a class="tab-item" ng-click="switchGraph('daily')"><i class="icon ion-android-sunny"></i>Daily</a>
        <a class="tab-item"  ng-click="switchGraph('weekly')"><i class="icon ion-android-calendar"></i>Weekly</a>
        <a class="tab-item"  ng-click="switchGraph('monthly')"><i class="icon ion-calendar"></i>Monthly</a>
      </div>
    </div>
    <!--<ion-tabs class="tabs-positive tabs-icon-top tabs-color-light bar-subheader.has-tabs-top">-->

      <!--<ion-tab title="Hourly" class="tabs-positive tabs-icon-top " icon="ion-clock"  ng-click="switchGraph('hourly')">-->
        <!--&lt;!&ndash; Tab 1 content &ndash;&gt;-->
      <!--</ion-tab>-->

      <!--<ion-tab title="Daily"  class="tabs-positive tabs-icon-top" icon="ion-android-sunny"  ng-click="switchGraph('daily')">-->
        <!--&lt;!&ndash; Tab 2 content &ndash;&gt;-->
      <!--</ion-tab>-->

      <!--<ion-tab title="Weekly" class="tabs-positive tabs-icon-top " icon="ion-android-calendar" ng-click="switchGraph('weekly')">-->
        <!--&lt;!&ndash; Tab 3 content &ndash;&gt;-->
      <!--</ion-tab>-->
      <!--<ion-tab title="Monthly" class="tabs-positive tabs-icon-top" icon="ion-calendar" ng-click="switchGraph('monthly')">-->
        <!--&lt;!&ndash; Tab 3 content &ndash;&gt;-->
      <!--</ion-tab>-->
    <!--</ion-tabs>-->
    <ion-refresher on-refresh="doRefresh()">

    </ion-refresher>

    <div class="col text-center">
      <img src="img/epaticon.svg" style="width:70px; height: 70px; padding-top:20px; padding-left: 8px;">
      <label class="text-style">E-PAT</label>
    </div>


    <div class="col text-right">
      <button class="ion-android-refresh appBg" ng-click="doRefresh()"></button>



    </div>



    <div>
      <div>
        <div>
          <div>
            <highchart class="chart" config="chartConfig" class="span9"></highchart>
          </div>

        </div>

      </div>

      <!--<div class="col text-center">-->
      <!--<label class="text-style3 loginBg">Select Usage View</label>-->

      <!--<h1 class="text-style3">Select Usage View:</h1>-->
      <!--</div>-->
    </div>

  </ion-content>

</ion-view>
