


<ion-tabs class="tabs-positive tabs-icon-top tabs-color-light">

  <ion-tab title="Login" icon="icon ion-locked" ng-click="login1()">

  </ion-tab>
  <ion-tab title="Sign up" icon="icon ion-person" ng-click="register1()">

  </ion-tab>
</ion-tabs>

<ion-view view-title="Forgot Password" class="loginBg" hide-nav-bar="true" >
  <div class="background-image"></div>

  <ion-content class="padding ">




    <div class="row responsive-sm padding remvoeBP">
      <div class="col text-center">
        <div class="app-logo"><img src="img/epaticon.svg"></div>
        <div class="col text-center">
          <label class="text-style" style="background-color:transparent"> E-PAT</label>


        </div>
<div class="col text-left"> <h5 style="color: white">Enter the email address you provided during registration process:</h5></div>





        <div class="list list-inset removePM">
      <!--<label class="item item-input">-->
        <label class="item item-input" style="padding-left: 10px;">
          <i class="icon ion-email" ></i>   <input type="email" placeholder="Email Address"  ng-model="newUser.email" style="padding-left:10px" >

        </label>


            </label>

</div>

          <!--<div class="loginButton"><button class="button ion-locked button-block button-balanced " ng-click="login(data)" style="background-color:transparent; border-radius:30px" > Login </button>  </div>-->

          <div class="loginButton">    <button class="button ion-checkmark button-block button-balanced"   ng-click="reset(); showAlert()" style="background-color:transparent; border-radius:30px" ng-disabled="(!(newUser.email))"> Send Request </button> </div>

          <div class="loginButton">  <button class="button ion-android-cancel button-block button-balanced"   ng-click="login1()" style="background-color:transparent; border-radius:30px">Cancel</button></div>


</div>
        </div>
    </ion-content>
<!--</ion-modal-view>-->

</ion-view>
