

<ion-view view-title="Help" class="appBg"  >
  <ion-nav-bar class="bar-positive navbarColor">
    <ion-nav-back-button class="bar-positive navbarColor"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding appBg">
    <div class="col text-center">
      <img src="img/epaticon.svg" style="width:70px; height: 70px; padding-top:20px; padding-left: 8px;">
      <label class="text-style">E-PAT</label>
    </div>
    <div class="col text-center">
      <h3>E-PAT Help Desk</h3>
    </div>

   <h5>Hey! What do you need help with ? {{ data.clientSide }}</h5>


    <ion-radio ng-repeat="item in clientSideList"
    ng-value="item.value"
    ng-model="data.clientSide" style="height: 43px;">
    {{ item.text }}
    </ion-radio>


    <div>  <button class="button ion-ios-monitor button-block button-balanced" ng-click="goSomewhere(data)"  style="background-color:transparent; border-radius:30px;"> Show Help</button></div>


    <div><button class="button ion-android-arrow-back button-block button-balanced" ng-click="backtodashboard()"  style="background-color:transparent; border-radius:30px;">Back</button></div>


      </ion-content>
</ion-view>
