
<ion-view view-title="Help" class="appBg"  >

  <ion-content class="padding appBg">
    <div class="col text-center">
      <img src="img/epaticon.svg" style="width:70px; height: 70px; padding-top:20px; padding-left: 8px;">
      <label class="text-style">E-PAT</label>
    </div>
    <div class="col text-center">
      <h3>E-PAT Help Desk</h3>
    </div>

    <!--<ion-slide-box active-slide="myActiveSlide">-->
      <!--<ion-slide>-->
        <!--<div class="box blue"><h1>BLUE</h1></div>-->
      <!--</ion-slide>-->
      <!--<ion-slide>-->
        <!--<div class="box yellow"><h1>YELLOW</h1></div>-->
      <!--</ion-slide>-->
      <!--<ion-slide>-->
        <!--<div class="box pink"><h1>PINK</h1></div>-->
      <!--</ion-slide>-->
    <!--</ion-slide-box>-->

<!--<ion-view view-title="Help" class="loginBg" hide-nav-bar="true" >-->
  <!--<div class="col text-center">-->
    <!--<label class="text-style"> E-PAT</label>-->


  <!--</div>-->

  <!--<ion-modal-view class="modal-center">-->
    <!--<ion-header-bar>-->
      <!--<h1 class="title">EPAT Help Desk</h1>-->
    <!--</ion-header-bar>-->
    <!--<ion-content hide-nav-bar="false">-->

    <!--<div>-->


          <!--<label class="item item-input">-->
    <h5>Instructions to use E-PAT:</h5>
        <div class="col text-center" style="background-color: whitesmoke">
          <h5>  EPAT application is very simple and easy to use.
            <!--Fisrt of all you have to get yourself register on EPAT.After that you can simply login with the email address and password.If you forgot your password you can reset your password by clicking the link sent on your email address.-->
            After registering and logging in into EPAT and setting the hard ware device to the home meter you can see your power
            consumption on this application in the form of graphs on dashboard.
            Tabs on dashboard are options for the usage view.You can see daily,weekly,monthly and yearly view of power consumption by clicking these tabs.
            EPAT user can see further options on the left side menu.Side menu will give to access to check the bills ,manage your account settings,checking the notifications on the application.
            You can simply select logout from the side menu option after you are done with the current session.</h5>


        </div>
        </div>
      <div>  <button class="button ion-chevron-left button-block button-balanced" ng-click="goback()" style="background-color:transparent; border-radius:30px;">Back</button></div>
    </ion-content>


  </ion-modal-view>
</ion-view>
