
<ion-tabs class="tabs-positive tabs-icon-top tabs-color-light">

  <ion-tab  title="Login" icon="icon ion-locked" ng-click="login()">

  </ion-tab>
  <ion-tab title="Sign up" icon="icon ion-person" ng-click="register()">

  </ion-tab>
</ion-tabs>




<ion-view view-title="Login Page" class="loginBg" hide-nav-bar="true" >
  <div class="background-image"></div>

  <ion-content class padding>

    <div class="row responsive-sm padding remvoeBP">
      <div class="col text-center">
         <div class="app-logo"><img src="img/epaticon.svg"></div>
        <div class="col text-center">


          <label class="text-style app-icon" style="background-color:transparent"> E-PAT</label>


        </div>



        <div class="list list-inset removePM" >

          <label  class="item item-input" style="padding-left: 10px; ">  <i class="icon ion-email" ></i> <input type="text" ng-model="newUser.email" placeholder="Email Address" style="padding-left:10px" ></label>
          <label class="item item-input" style="padding-left: 10px;">   <i class="icon ion-locked" ></i> <input type="password" ng-model="newUser.password" placeholder="Password"  style="padding-left:10px" > </label>
        </div>

        <div class="loginButton">
            <button class="button ion-locked button-block button-balanced" ng-disabled="(!(newUser.email && newUser.password))" ng-click="login(data); show();" style="background-color:transparent; border-radius:30px" > Login </button>
        </div>

        <div class="loginButton"><button class="button ion-unlocked button-block button-balanced" ng-click="reset()"    style="background-color:transparent; border-radius:30px; "
            border-radius> Forgot Password </button>  </div>
        <div class="loginButton"><button class="button ion-person button-block button-balanced" ng-click="register()"  style="background-color:transparent ; border-radius:30px" > Sign up </button>  </div>
      </div>
    </div>

  </ion-content>
</ion-view>
