<ion-view view-title="Logout">
    <ion-content>
        <h1>Logout</h1>
      <label class="item">
        <button ng-style={'background-color':'#99CCFF'} class="button button-block button-positive" ng-click="logout()">NEW USER REGISTRATION</button>
      </label>
    </ion-content>
</ion-view>
