
<ion-view view-title="Help" class="appBg"  >

  <ion-content class="padding appBg">
    <div class="col text-center">
      <img src="img/epaticon.svg" style="width:70px; height: 70px; padding-top:20px; padding-left: 8px;">
      <label class="text-style">E-PAT</label>
    </div>
    <div class="col text-center">
      <h3>E-PAT Help Desk</h3>
    </div>
          <!--<span class="input-label text-style1">Managing Notifications:</span></label> </div>-->
    <h5>Managing Notifications:</h5>
    <div class="col text-center" style="background-color: whitesmoke">
    <h5>Pop up notifications can be sent to the user.Notifications are sent if the power consumption of user increases as compared to the threshold value of the user power consumption.User can manage notification and can turn them off if the user want to.
   User has the option to get notified through email or to get pop up alert messages.Threshold value of the power will be set by user at the start,so that he will be notified on that basis. </h5>  </div>

      <div>  <button class="button ion-chevron-left button-block button-balanced" ng-click="goback()" style="background-color:transparent; border-radius:30px;">Back</button></div>    </div>

    </ion-content>


  </ion-modal-view>
</ion-view>
