<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content class="custom">
      <ion-list>

        <ion-item menu-close href="#/epat/dashboard">
          <i class="icon ion-home"></i>
          Dashboard
        </ion-item>

        <ion-item menu-close href="#/epat/Notifications">
          <i class="icon ion-email"></i>
          Notifications
        </ion-item>

        <ion-item menu-close href="#/epat/bill-current">
          <i class="icon ion-document-text"></i>
          Current Bill
        </ion-item>

        <ion-item menu-close href="#/epat/bill-projected">
          <i class="icon ion-document-text"></i>
          Estimated Bill
        </ion-item>

        <ion-item menu-close href="#/epat/bill-past">
          <i class="icon ion-document-text"></i>
          Past Bills
        </ion-item>

        <ion-item menu-close href="#/epat/setting">
          <i class="icon ion-settings"></i>
          Setting
        </ion-item>

        <ion-item menu-close href="#/epat/help">
          <i class="icon ion-help-circled"></i>
          Help
        </ion-item>

        <ion-item menu-close href="#/epat/logout">
          <i class="icon ion-log-out"></i>
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
