

<!--<ion-view view-title="Notifications" class="loginBg">-->
  <ion-view view-title="Notifications" class="appBg"  >
    <ion-nav-bar class="bar-positive navbarColor">
      <ion-nav-back-button class="bar-positive navbarColor"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content class="padding appBg">


    <div class="col text-center">
      <img src="img/epaticon.svg" style="width:70px; height: 70px; padding-top:20px; padding-left: 8px;">
      <label class="text-style">E-PAT</label>
    </div>
    <div class="col">
      <label class="text-style5 appBg">Select your choice:</label>

    </div>
    <div class="list list-inset transparentBackground " >
      <ion-toggle style="background-color: transparent; height: 45px; padding-left: 10px;" ng-model="data.email" ng-change="save()"  ><h3>Notify through email:</h3></ion-toggle>
           <!--<ion-toggle style="background-color: transparent; height: 45px; padding-left: 10px;" ng-model="data.app"  ng-change="save()"><h3>Notify through App :</h3></ion-toggle>-->
       <label  class="item item-input" style="padding-left: 10px; "> <h3>Select Power Threshold Value:{{User.notifyThreshold}}</h3></label>


      <!--<div class="range range-positive" > <h3>Select Power Threshold Value:</h3><span>{{numberSelection}}</span></div>-->
<div col align="center" > 100
  <input type="range" min="100" max="5000" step="100" ng-model="User.notifyThreshold" ng-change="save()">
  <!--<input type="range" min="100" max="2000" value="{{numberSelection}}" ng-model="User.notifyThreshold" ng-change="save()" style="height: 45px; padding-left: 10px;">-->

  5000<i class="ion-android-bulb"></i></div>


        </div>



</div>
    <div><button class="button ion-android-done-all button-block button-balanced" ng-click="confirmchoice()"  style="background-color:transparent; border-radius:30px;"> Done </button>  </div>
  <div>  <button class="button ion-android-arrow-back button-block button-balanced" ng-click="backtodashboard()" style="background-color:transparent; border-radius:30px;"> Back</button></div>
    <div class="col text-right">
      <!--<button ng-click="refresh()">Refresh</button>-->
      <ion-refresher  pulling-text="Refresh..."  on-refresh="refresh();"></ion-refresher>
    </div>
    <!--</div>-->
  </ion-content>
</ion-view>
