
<ion-tabs class="tabs-positive tabs-icon-top tabs-color-light">

  <ion-tab title="Login" icon="icon ion-locked" ng-click="login1()">

  </ion-tab>
  <ion-tab title="Sign up" icon="icon ion-person" ng-click="register1()">

  </ion-tab>
</ion-tabs>

<ion-view view-title="Sign Up" class="loginBg" hide-nav-bar="true" >
  <div class="background-image"></div>

  <ion-content class="padding ">


    <div class="row responsive-sm padding remvoeBP">
      <div class="col text-center">
        <div class="col text-center">
          <div class="app-logo"><img src="img/epaticon.svg"></div>
          <div class="col text-center">

            <label class="text-style" style="background-color:transparent"> E-PAT</label>
            </div>
          </div>
        <div class="list list-inset removePM">

          <!--<label class="item item-input"><input type="text" placeholder="Full Name"> </label>-->
          <label class="item item-input" style="padding-left: 10px;"> <i class="icon ion-email" ></i><input type="email" placeholder="Email Address"  style="padding-left:10px"  ng-model="newUser.email"> </label>
          <!--<label class="item item-input"><input type="text" placeholder="Phone Number"> </label>-->
          <label class="item item-input" style="padding-left: 10px;" > <i class="icon ion-locked" ></i><input type="password" placeholder="Password"   style="padding-left:10px" ng-model="newUser.password"> </label>
          <!--<div ng-style="passwordStrength"></div>-->

        </div>

        <div class="loginButton"><button class="button ion-person button-block button-balanced"  style="background-color:transparent; border-radius:30px" ng-click="register(); confirmreg()" ng-disabled="(!(newUser.email && newUser.password))"> Confirm Registeration </button>  </div>
      </div>
    </div>
    <!--<div class="row  padding removePM">-->
    <!--<div class="col"> <a class=" button-positive button button-block" ng-click="facebookSignIn()"><i class="icon ion-social-facebook"></i></a> </div>-->
    <!--<div class="col"> <a class="button-calm button button-block" ng-click="twitterSignIn()"><i class="icon ion-social-twitter"></i></a> </div>-->
    <!--</div>-->

  </ion-content>
</ion-view>
