
<!--<ion-view view-title="Setting">-->
  <!--<ion-nav-title>-->
    <!--<span class="navbarColor">Hello</span>World-->
  <!--</ion-nav-title>-->
<!--<ion-view class="navbarColor">-->
  <!--<ion-nav-title class="navbarColor">-->
    <!--<span class="navbarColor">Hello</span>World-->
  <!--</ion-nav-title>-->
<!--<ion-view title="test" class="frame_look_feel">
<ion-nav-buttons-->
  <!--side="left">-->
  <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
<!--</ion-nav-buttons>-->
<ion-view view-title="Setting">

  <ion-nav-bar class="bar-positive navbarColor">
    <ion-nav-back-button class="bar-positive navbarColor"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content class="padding appBg">


    <div class="col text-center">
      <img src="img/epaticon.svg" style="width:70px; height: 70px; padding-top:20px; padding-left: 8px;">
      <label class="text-style">E-PAT</label>
    </div>

    <div class="col">
      <label class="text-style5 appBg"> Please provide the following information:</label>

    </div>

    <div class="list list-inset" >

      <!--<label class="item item-input" style="height: 34px;">-->
        <!--<span class="input-label" style=" padding-left: 4px;"> First Name:  </span>-->
        <!--<input type="text"  ng-model="User.firstName">-->

      <label class="item item-input" style="height: 34px;">
                <span class="input-label" style="background-color: transparent; padding-left: 10px;"> First Name  </span>
                <input type="text"  ng-model="User.firstName" style="background-color: transparent padding-left: 10px;">
      </label>
      <label class="item item-input" style="height: 34px;">
                <span class="input-label" style="background-color: transparent; padding-left: 10px;"> Last Name  </span>
                <input type="text"  ng-model="User.lastName" >
      <!--<label class="item item-input" style="height: 34px;">-->
        <!--<span class="input-label" style="padding-left: 4px;"> Last Name:  </span>-->
        <!--<input type="text"  ng-model="User.lastName" style="background-color: transparent;padding-left: 10px;" >-->


      </label>
      <label class="item item-input" style="height: 34px;">
                <span class="input-label" style="background-color: transparent; padding-left: 10px;">Bill Reference# </span>
                <input type="text" ng-model="User.referenceNo" >
      </label>



      <label class = "item item-input item-select" style="height: 34px;">
                <div class = "input-label" style="background-color: transparent; padding-left: 10px;">
          Phase Type:
        </div>

        <select ng-change="save()" ng-model="User.phaseType">
        <option ng-model="User.phaseType" ng-click="save()" value="1" selected >Phase 1 </option>


          <option ng-model="User.phaseType"  ng-click="save()" value="3">Phase 3 </option>
        </select>

      </label>
      <label class = "item item-input item-select" style="height: 34px;">
                <div class = "input-label" style="background-color: transparent; padding-left: 10px;">
          Connection Type:
        </div>
        <select ng-change="save()" ng-model="User.connectionType">

          <option ng-model="User.connectionType"  ng-click="save()" value="1" >Domestic</option>
          <option ng-model="User.connectionType" ng-click="save()" value="3">Commercial</option>
        </select>

      </label>

    </div>

      <button class="button button-block ion-ios-download  button-balanced" style="background-color:transparent; border-radius:30px;" ng-click="save(); confirminfo()" ng-disabled="(!(User.firstName && User.lastName && User.referenceNo && User.phaseType && User.connectionType))"> Save</button>
    <button class="button ion-android-arrow-back button-block button-balanced" style="background-color:transparent; border-radius:30px;" ng-click="backtodashboard()"> Back</button>
    </label>
        </div>
  </ion-content>

</ion-view>
