

/*This custom style is for side menu/drawer*/
.custom {
  background-color: #3f4041 !important; /* This sets the background color*/

}
.navbarColor
{
background-color: #3f4041 !important;
}
/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}

/*Changes the border for the last item*/
.custom .item:last-child {
  border-bottom: 1px solid #666;
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;  /*Text color for each item, overrides the color property above*/
}



/*and for blurrrr background this style*/
.background-image {
  background-color: black;

  background-image: url('../img/loginbgimage.jpg');
  opacity: .9;
  /*margin-top: 230px;*/

  width: 100vw;
  height: 100vh;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.appBg{
  background-color: #0B3861;

}


/*dashboard-styles*/
.tab-item{

  font-size: 50px;
  color: #FFFFFF;
  font-family: 'Arial';

  max-width: 200px;
}

.text-style{

  font-weight:bold;
  /*background-color: #528CE0;*/
  color:#FFFFFF;
  font-size:55px;
}

.text-style4{
  font-weight: bold;
  /*background-color: #528CE0;*/
  color: #FFFFFF;
  font-size:20px;
}
.text-style5{
  font-weight: bold;
  /*background-color: #528CE0;*/
  color: #FFFFFF;
  font-size:13px;
}
.text-style3{

  font-weight: lighter;
  /*background-color: #528CE0;*/
  color: #FFFFFF;
  font-size:40px;
}
.bubble-background{
  background-color: #c3e8d1;
}
.text-style1{
  font-weight: 900;
  background-color: #FFFFFF;
  color: #FFFFFF;
  font-size:18px;
}
.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}


.email.transparentBackground{

  background-color: transparent;

}








.text-style2{
  font-weight: 700;
  background-color: #FFFFFF;
  color: #00468b;
  font-size:14px;
}




/*.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {*/
  /*opacity: 1;*/
  /*background: #0B3861;*/
/*}*/


  .rounded {
    border-radius: 4px;
  }






